@CHARSET 'UTF-8';

body { /* 배경색 그라데이션지정 */
	background : -webkit-gradient(linear, left ,top, bottom, from(#55f),
	to(#fff));
}

header {
	position: relative;
	height: 15%;
}

#content { /* id 속성의 값이 content인 엘리먼트에 적용*/
	margin: -10px 9px 50px;
	height: 65%;
	width: 90%;
}

#areaMain{ /* id 속성의 값이 areaMain인 엘리먼트에 적용*/
	width: 70%;
	float: right; /* 배치 오른쪽*/
	padding: 10px 0;
	background-color: #fff;
	border-radius: 8px; /* 모서리 둥글게 하기*/
	-webkit-border-radius: 8px;
	position: relative;
}

#areaSub{
	float: left;
}

footer{
	clear: both;
	height: 15%;
}